.catalog__wrapper {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.catalog__board {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  margin-top: 40px;
  margin-left: 32px;
}

.catalog__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
}
