.card {
  display: grid;
  grid-template-rows: min-content min-content min-content min-content;
  width: calc((100% - 40px) / 3);
  height: 304px;
  margin-bottom: 30px;
  margin-right: 20px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 16px;
  padding-bottom: 20px;
  border: 1px solid $border-filter;
  &:nth-child(3n) {
    margin-right: 0;
  }
}

.card__image {
  justify-self: center;
  width: 68px;
  height: 190px;
}

.card__rating {
  justify-self: flex-start;
  display: flex;
  margin-top: 8px;
}

.card__description {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 3px;
}

.card__text {
  font-family: $droidRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.05em;
}

.card__control {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 12px;
}

.card__btn {
  font-family: $droidBold;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: $white;
}

.card__btn--more {
  width: 89px;
  background-color: $checkbox-active;
  border: 1px solid $checkbox-active;
  &:hover {
    border-color: $border_black;
    background-color: $border_black;
    text-transform: uppercase;
  }
  &:active {
    border-color: $border-gray;
    background-color: $border-gray;
    text-transform: uppercase;
  }
}

.card__btn--buy {
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 87px;
  background-color: $background-orange;
  border: 1px solid $background-orange;
  text-align: center;
  &:hover {
    border-color: $border-orange;
    background-color: $border-orange;
    text-transform: uppercase;
  }
  &:active {
    border-color: $border-orange-black;
    background-color: $border-orange-black;
    text-transform: uppercase;
  }
  &:before {
    content: url("../../img/cart-btn.svg");
    margin-right: 5px;
  }
}
