.footer__image {
  height: 279px;
  margin: 0 auto;
  padding-top: 70px;
  background-image: url("../../img/image-guitar-footer.png");
  background-repeat: no-repeat;
}

.footer__line {
  height: 6px;
  background: $background-grey;
}

.footer__content {
  margin-top: -265px;
  background: $background-grey;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  padding-top: 61px;
  padding-bottom: 63px;
}

.footer__left {
  display: flex;
  flex-direction: column;
  justify-self: left;
  align-items: flex-start;
}

.footer__logo {
  height: auto;
  justify-content: start;
  align-items: flex-start;
}

.footer__center {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  justify-self: center;
  margin-top: 7px;
}

.footer__right {
  justify-self: right;
  margin-top: 7px;
  margin-right: 20px;
}

.footer__about {
  min-width: 142px;
  justify-self: flex-end;
  margin-left: 35px;
}

.footer__catalog {
  min-width: 150px;
  margin-left: 20px;
}

.footer__info {
  min-width: 153px;
  margin-left: 9px;
}

.footer__title {
  margin: 0;
  padding: 0;
  font-family: $droidRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 44px;
  letter-spacing: 0.1em;
  color: $white;
  opacity: 0.7;
}

.footer__text {
  margin: 0;
  padding: 0;
  font-family: $droidRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: $white;
}

.footer__link {
  display: block;
  font-family: $droidRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: $white;
  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: 0.5;
  }
}
