.header {
  display: flex;
  flex-direction: column;
}

.header__nav {
  background: $background-header;
}

.header__wrapper {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__image {
  position: relative;
  height: 282px;
  margin-top: 14px;
}

.header__line {
  height: 4px;
  margin-top: 10px;
  background: $background-grey;
}

.header__picture {
  position: absolute;
  top: -46px;
  right: 0;
  width: 878px;
  height: 282px;
}
