.header {
  display: flex;
  flex-direction: column;
}

.header__nav {
  background: $background-header;
}

.header__wrapper {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 16px;
}

.header__image {
  position: relative;
  height: 268px;
  margin-top: 14px;
}

.header__line {
  height: 4px;
  margin-top: 10px;
  background: $background-grey;
}

.header__picture {
  position: absolute;
  top: -50px;
  right: 5px;
  width: 819px;
  height: 295px;
}
