.main-menu {
  margin-left: 114px;
  margin-top: 25px;
  align-self: start;
}

.main-menu__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.main-menu__item {
  list-style-type: none;
  margin-left: 40px;
  &:first-child {
    margin-left: 0;
  }
}

.main-menu__link {
  font-family: $droidRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: $black;
}
