.remove-from-cart {
  position: relative;
  padding-top: 30px;
  padding-left: 50px;
  padding-bottom: 32px;
  padding-right: 50px;
  width: 740px;
  background: $white;
  box-shadow: 0 5px 6px rgba(63, 63, 63, 0.2);
  border-radius: 4px;
  opacity: 1;
}

.remove-from-cart__btn.close__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 20px;
  width: 18px;
  margin: 0;
  padding: 0;
  color: $border-gray;
  border: none;
  background: $white;
  &:hover {
    background-color: $white;
  }
  &:active {
    background-color: $white;
  }
}

.remove-from-cart__title {
  margin: 0;
  padding: 0;
  font-family: $droidBold;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: $popup-title;
}

.remove-from-cart__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.remove-from-cart__description {
  margin-left: 40px;
}

.remove-from-cart__item {
  display: flex;
}

.remove-from-cart__name {
  margin-top: 14px;
}

.remove-from-cart__text {
  margin-top: 14px;
}

.remove-from-cart__price {
  font-family: $droidBold;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: $black;
}

.remove-from-cart__control {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.remove-from-cart__btn {
  width: 220px;
  height: 46px;
  font-family: $droidBold;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 46px;
  letter-spacing: 0.05em;
  border: none;
}

.remove-from-cart__btn--basket {
  color: $white;
  background-color: $background-orange;
  &:hover {
    background-color: $border-orange;
  }
  &:active {
    background-color: $border-orange-black;
  }
}

.remove-from-cart__btn--continue {
  margin-top: 16px;
  color: $checkbox-hover;
  background-color: $white;
  border: 1px solid $checkbox-hover;
  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: 0.5;
  }
}
