.side-menu {
  display: flex;
  justify-content: space-between;
  min-width: 144px;
  align-self: flex-start;
  margin-top: 14px;
}

.side-menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  vertical-align: center;
}

.basket-icon {
  justify-content: flex-end;
  margin-right: 18px;
  width: 24px;
}
