.header {
  display: flex;
  flex-direction: column;
}

.header__nav {
  background: $background-header;
}

.header__wrapper {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__image {
  height: 282px;
  margin-top: -42px;
  background-image: url("../../img/image_header.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
}

.header__line {
  height: 4px;
  margin-top: 10px;
  background: $background-grey;
  &:first-child {
    margin-top: 68px;
  }
}
