.contact__link {
  display: inline-block;
  margin-bottom: 13px;
  line-height: 12px;
  &:before {
    content: url("../img/icon_phone.svg");
    margin-right: 5px;
  }
}

.contact__text {
  letter-spacing: 0.1em;
}

.contact__text--time {
  &:before {
    content: url("../img/icon_clock.svg");
    margin-right: 5px;
  }
}
