/*Colors*/
$black: #000000;
$gray: #474747;
$blue: #2C36F2;
$red: #F20505;
$white: #FFFFFF;
$border-gray: #9F9E9E;
$border-filter: #DDDADA;
$border_black: #585757;
$background-white: #FFFFFF;
$background-grey: #3F3F3F;
$background-header: rgba(30, 9, 6, 0.15);
$black-06:  rgba(0, 0, 0, 0.6);
$checkbox-hover: #585757;
$checkbox-active: #C1C1C1;
$checkbox-disabled: #DDDDDD;
$checkbox-disabled-background: #F6F3F3;
$button-gray: #6C6C6C;
$background-orange: #E27F00;
$border-orange: #FFA839;
$border-orange-black: #DA8B26;
$popup-title: #474747;
