.page-main {
  margin-top: -25px;
  margin-bottom: 54px;
}

.main__title {
  margin: 0;
  padding: 0;
  font-family: $droidBold;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

.page-main--basket {
  margin-top: -45px;
}
